@model IEnumerable<IndyBooks.Models.Book>
@{
    ViewBag.Title = "Admin Search";
    Layout = "_Layout";
}

<h3>Search Result</h3>

<!-- TODO: Update to use the new properties from the ERD-->
<table class="table">
    <tr>
        <th>Title
        </th>
        <th>Author
        </th>
        <th>SKU
        </th>
        <th>Price
        </th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td>
                @book.Title
            </td>
            <td>
                @book.Author.FirstName @book.Author.LastName
            </td>
            <td class="rightedge">
                @book.SKU
            </td>
            <td class="rightedge">
                $@book.Price
            </td>
        </tr>
    }

</table>


